<p style='font-family: 'Poppins', sans-serif;font-size: 14px;line-height: 26.8px;font-weight: 300;margin: 0;margin-bottom: 15px;'>
	Hej,
</p>
<br>
<p style='font-family: 'Poppins', sans-serif;font-size: 14px;line-height: 26.8px;font-weight: 300;margin: 0;margin-bottom: 15px;'>
	Venligst klik på linket herunder eller klik <a href="###_CallbackUrl###">here</a> at bekræfte din e-mail-adresse:
	<br />
	<br />
	<a href="###_CallbackUrl###">"###_CallbackUrl###"</a>
</p>
<br>
<p style='font-family: 'Poppins', sans-serif;font-size: 14px;line-height: 26.8px;font-weight: 300;margin: 0;margin-bottom: 15px;'>
	tak skal du have, <br> 
	Find2Me
</p>