
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div>
    <p>@(Model.LocalisedString)</p>
    <p>@Url.Action("LangFromRouteInActionFilter", "Home")</p>
    <p>@Model.CreationDateTime.ToString()</p>
</div>